@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-playfair: "Playfair Display", serif;
  --font-nunito: "Nunito Sans", sans-serif;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-nunito);
  overflow-x: hidden;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
